---

- name: Create Thunderbird autoconfig directory
  file:
    path: /var/www/autoconfig/mail/
    state: directory

  #- name: Copy Thunderbird autoconfig file
  #  template:
  #    src: ../templates/var/www/autoconfig/mail/config-v1.1.xml
  #    dest: '/var/www/autoconfig/mail/config-v1.1.xml'

- name: Write autoconfig outer tags
  copy:
    dest: '/var/www/autoconfig/mail/config-v1.1.xml'
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <clientConfig version="1.1">
      </clientConfig>  

- name: Write autoconfig providers
  blockinfile:
    dest: '/var/www/autoconfig/mail/config-v1.1.xml'
    insertbefore: "</clientConfig>"
    marker: "<!-- {mark} ANSIBLE MANAGED BLOCK - {{ item.emaildomain }} -->"
    content: |
      <emailProvider id="{{ item.emaildomain }}">
        <domain>{{ item.emaildomain }}</domain>
        <displayName>Tesla42 Ansible mailserver/tine</displayName>
        <displayShortName>Tesla42</displayShortName>
        <incomingServer type="imap">
          <hostname>{{ item.serverdomain }}</hostname>
          <port>143</port>
          <socketType>STARTTLS</socketType>
          <authentication>password-cleartext</authentication>
          <username>%EMAILLOCALPART%@{{ domain }}</username>
        </incomingServer>
        <incomingServer type="pop3">
          <hostname>{{ item.serverdomain }}</hostname>
          <port>110</port>
          <socketType>STARTTLS</socketType>
          <authentication>password-cleartext</authentication>
          <username>%EMAILLOCALPART%@{{ domain }}</username>
        </incomingServer>
        <outgoingServer type="smtp">
          <hostname>{{ item.serverdomain }}</hostname>
          <port>587</port>
          <socketType>STARTTLS</socketType>
          <authentication>password-cleartext</authentication>
          <username>%EMAILLOCALPART%@{{ domain }}</username>
        </outgoingServer>
        <documentation url="http://%EMAILDOMAIN%/tine20/index.html">
          <descr lang="de">Webmail und CRM</descr>
          <descr lang="en">web mail and crm</descr>
        </documentation>
      </emailProvider>
  with_items:
    - { emaildomain: "{{ emaildomain }}", serverdomain: "{{ domain }}" }
    - "{{ emailmaps }}"
          
    

- name: Process autoconfig template 
  template:
    src: "../templates/etc/apache2/sites-available/autoconfig.conf" 
    dest: "/etc/apache2/sites-available/autoconfig.conf"

- name: Enable thunderbird autoconfig
  shell: "a2ensite autoconfig.conf"
  args:
    executable: "/bin/bash"
  notify:
    - Restart postfix



