---

# ---- spamassassin ----

- name: Set other acl of local.cf
  shell: 'setfacl -m o:--- /etc/mail/spamassassin/local.cf'
  args:
    executable: '/bin/bash'

- name: Set deliver user acl of local.cf
  acl:
    path: /etc/mail/spamassassin/local.cf
    etype: user
    entity: "{{ deliver_user_name }}"
    permissions: r
    state: present

- name: Set amavis user acl of local.cf
  acl:
    path: /etc/mail/spamassassin/local.cf
    etype: user
    entity: "amavis"
    permissions: r
    state: present

- name: Create spamassassin database
  mysql_db:
    state: present
    login_user: root
    login_password: "{{ mysql_root_passwd }}"
    name: spamassassin
  notify:
    - Import spamassassin db

- name: Permissions on database
  mysql_user:
    name: spamassassin
    priv: 'spamassassin.*:ALL'
    append_privs: yes
    state: present
    login_user: root
    login_password: "{{ mysql_root_passwd }}"

- name: Copy /root/sa_care.sh
  copy:
    dest: /root/sa-care.sh
    src: ../files/root/sa-care.sh

- name: Permissions of sa-care.sh
  file:
    name: /root/sa-care.sh
    owner: root
    group: root
    mode: 0774
    state: file
  notify:
    - Spamassassin care





