# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )

# DH parameter re-generation
@daily		root	FILE=`mktemp` ; openssl dhparam 2048 -out $FILE && mv -f $FILE /etc/myssl/dh2048.pem
# certificate renewal every month
@monthly	root	/opt/certbot-auto renew --quiet --no-self-upgrade
# Spamassassin care
@daily		root	/root/sa-care.sh
# start spamfilter components in the right sequence
#@reboot		root	service amavis stop; service amavisd-milter stop; sleep 10;  service amavis start; sleep 10; service amavisd-milter start
# make backup 
#@daily		root    /root/make_backup.bash


#
