---

- name: Generate opendkim keys
  command: "opendkim-genkey --selector={{ opendkim_keyname }} --bits=2048 --directory=keys"
  args:
    chdir: "/etc/opendkim"
  listen: "opendkim keys"

- name: Get opendkim key
  shell: sed ':a;N;$!ba;s/\n//g' /etc/opendkim/keys/{{ opendkim_keyname }}.txt | awk -F"\"" '{printf("\"%s\" \"%s\"", $2, $4)}'
  args:
    executable: /bin/bash
  register: get_opendkim_key
  listen: "opendkim keys"

- name: Set dkimkey var
  set_fact:
    dkimkey: "{{ get_opendkim_key.stdout }}"
  listen: "opendkim keys"

- name: Make opendkim owner of the openkdim private key
  file:
    name: "/etc/opendkim/keys/{{ opendkim_keyname }}.private"
    owner: opendkim
  listen: "opendkim keys"

- name: Show dkimkey var
  debug:
    msg: "{{ dkimkey }}"
  listen: "opendkim keys"




