---

- name: Install apache2 webserver
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - apache2
    - php
    - libapache2-mod-php
    - php-mysql

- name: Enable https
  apache2_module:
    state: present
    name: ssl
    ignore_configcheck: true
  notify:
    - Restart apache2
  ignore_errors: true 
